$btn-medium-color: $white;

.btn-medium {
  background-color: $red;
  color: $btn-medium-color;
  padding: 10px 15px;
  font-weight: 100;
  opacity: 1;
  text-decoration: none;
  transition: opacity 0.3s ease, letter-spacing 0.3s ease;

  &:hover {
    text-decoration: none;
    color: $btn-medium-color;
  }

  &:focus {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
    outline: none;
    text-decoration: none;
  }

  &:visited {
    color: $btn-medium-color;
    border-color: $btn-medium-color;
  }

  /* Grow Rotate */
  @mixin grow-rotate {
  @include hacks();
  @include prefixed(transition-duration, $mediumDuration);
  @include prefixed(transition-property, transform);

  &:hover,
  &:focus,
  &:active {
    @include prefixed(transform, scale(1.1) rotate(4deg));
  }
}

}
