---
title: Digireceipt - Collect and backup your receipts and bills on your phone
---

<div class="welcome text-center padded">
  <h1>Ne perdez plus jamais vos tickets de caisse</h1>
  <p>Digireceipt is the new way for collecting and backing up your receipts and bills. Leave-us your e-mail to be inform of the launch:</p>
</div><!-- .welcome -->
